@use "sass:color";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

// ### primary
$gradient: hsl(236, 72%, 79%), hsl(237, 63%, 64%);
$purple: hsl(237, 63%, 64%);
// ### neutral
$very-light: hsl(240, 78%, 98%);
$light: hsl(234, 14%, 74%);
$regular: hsl(233, 13%, 49%);
$dark: hsl(232, 13%, 33%);

$fs-xxl: 4.5rem;
$fs-xl: 2.2rem;
$fs-l: 1.2rem;
$fs-m: 1rem;
$fs-s: 0.9rem;
$fs-xs: 0.5rem;

$gap-xl: 5rem;
$gap-l: 1.8rem;
$gap-m: 1rem;
$gap-s: 0.5rem;

$break-point: 720px;

@mixin flex-column-center {
	display: flex;
	flex-direction: column;
	align-items: center;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
}

body {
	background-image: url(./images/bg-top.svg);
	background-repeat: no-repeat;
	background-position: top -2rem right -12rem;
	background-color: $very-light;

	@media screen and (min-width: $break-point) {
		background-position: top right;

		&::after {
			position: fixed;
			content: url(./images/bg-bottom.svg);
			left: 0;
			bottom: 0;
			z-index: -1;
		}
	}
}

.header {
	@include flex-column-center;
	gap: $gap-l;
	margin: $gap-xl auto;

	&__title {
		font-size: $fs-xl;
		color: $regular;
	}

	.toggle {
		display: flex;
		align-items: center;
		gap: $gap-l;
		cursor: pointer;
		user-select: none;

		&__option {
			font-size: $fs-m;
			color: $light;
		}

		&__input {
			position: absolute;
			top: -100px;
			left: -100px;

			&:focus-visible ~ .toggle__box {
				outline: 2px solid blue;
			}
		}

		&__box {
			height: 2rem;
			width: 4rem;
			background-image: linear-gradient(to right, $gradient);
			border-radius: 100px;
			padding: 0.25rem;
			display: flex;

			&:hover {
				opacity: 0.5;
			}
		}

		&__knob {
			height: 100%;
			aspect-ratio: 1;
			background-color: white;
			border-radius: 50%;
			transition: all 0.25s;

			&--right {
				margin-left: calc(100% - 1.5rem);
			}

			&--left {
				margin-left: 0;
			}
		}
	}
}

.card-container {
	margin: 0 $gap-l;
	@include flex-column-center;
	gap: $gap-l;

	@media screen and (min-width: $break-point) {
		flex-direction: row;
		gap: 0;
		max-width: 70rem;
		margin: 0 auto;
	}
}

.card {
	@include flex-column-center;
	gap: $gap-m;
	padding: $gap-l;
	border-radius: 10px;
	width: 100%;
	box-shadow: 0 1rem 2rem 0 color.adjust($purple, $alpha: -0.85);

	&--light {
		background-color: white;

		@media screen and (min-width: $break-point) {
			&:nth-of-type(1) {
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}

			&:nth-of-type(3) {
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
			}
		}
	}

	&--dark {
		background-image: linear-gradient(to bottom right, $gradient);

		@media screen and (min-width: $break-point) {
			padding: calc($gap-l + 2rem) $gap-l;
		}
	}

	&__plan {
		font-size: $fs-l;

		&--light {
			color: $regular;
		}
		&--dark {
			color: $very-light;
		}
	}

	&__price {
		font-size: $fs-xxl;
		letter-spacing: min(calc((-1ch + 15vw)), 0ch);
		display: flex;
		align-items: center;
		gap: 0.1ch;

		@media screen and (min-width: $break-point) {
			letter-spacing: min(calc((-1ch + 5vw)), 0ch);
		}

		&--light {
			color: $dark;
		}
		&--dark {
			color: $very-light;
		}

		&::before {
			content: "$";
			font-size: 0.5em;
		}
	}

	&__divider {
		border: none;
		width: 100%;
		border-top: 1px solid $light;
	}

	&__feature {
		font-size: $fs-s;

		&--light {
			color: $regular;
		}
		&--dark {
			color: $very-light;
		}
	}

	&__button {
		border: none;
		border-radius: 0.5rem;
		width: 100%;
		height: 5ch;
		text-transform: uppercase;
		font-size: $fs-s;
		letter-spacing: 0.25ch;
		margin-top: $gap-m;
		cursor: pointer;

		&--light {
			color: $very-light;
			background-image: linear-gradient(to right, $gradient);

			&:hover {
				color: $purple;
				outline: 1px solid currentColor;
				background-image: none;
				background-color: transparent;
			}
		}
		&--dark {
			color: $purple;
			background-color: $very-light;

			&:hover {
				color: $very-light;
				outline: 1px solid currentColor;
				background-color: transparent;
			}
		}
	}
}

.footer {
	font-size: $fs-xs;
	margin-top: $gap-l;
	text-align: center;
}
