@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

// ### primary
$gradient: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
// ### neutral
$very-light: hsl(240, 78%, 98%);
$light: hsl(234, 14%, 74%);
$regular: hsl(233, 13%, 49%);
$dark: hsl(232, 13%, 33%);

$fs-xl: 2.2rem;
$fs-l: 1.5rem;
$fs-m: 1rem;

$gap-l: 5rem;
$gap-m: 2rem;
$gap-s: 1rem;

@mixin flex-column-center {
	display: flex;
	flex-direction: column;
	align-items: center;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
}

body {
	background-color: $very-light;
}

.header {
	@include flex-column-center;
	gap: $gap-m;
	margin: $gap-l auto;

	&__title {
		font-size: $fs-xl;
		color: $regular;
	}

	.toggle {
		display: flex;
		align-items: center;
		gap: $gap-m;
		cursor: pointer;

		&__option {
			font-size: $fs-m;
			color: $light;
		}

		&__input {
			position: absolute;
			top: 0;
			left: 0;
		}

		&__box {
			height: 2rem;
			width: 4rem;
			background-image: $gradient;
			border-radius: 100px;
			padding: 0.25rem;
		}

		&__knob {
			height: 100%;
			aspect-ratio: 1;
			background-color: white;
			border-radius: 100%;
		}
	}
}
