@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-image: url(./images/bg-top.svg);
  background-repeat: no-repeat;
  background-position: top -2rem right -12rem;
  background-color: hsl(240deg, 78%, 98%);
}
@media screen and (min-width: 720px) {
  body {
    background-position: top right;
  }
  body::after {
    position: fixed;
    content: url(./images/bg-bottom.svg);
    left: 0;
    bottom: 0;
    z-index: -1;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.8rem;
  margin: 5rem auto;
}
.header__title {
  font-size: 2.2rem;
  color: hsl(233deg, 13%, 49%);
}
.header .toggle {
  display: flex;
  align-items: center;
  gap: 1.8rem;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.header .toggle__option {
  font-size: 1rem;
  color: hsl(234deg, 14%, 74%);
}
.header .toggle__input {
  position: absolute;
  top: -100px;
  left: -100px;
}
.header .toggle__input:focus-visible ~ .toggle__box {
  outline: 2px solid blue;
}
.header .toggle__box {
  height: 2rem;
  width: 4rem;
  background-image: linear-gradient(to right, hsl(236deg, 72%, 79%), hsl(237deg, 63%, 64%));
  border-radius: 100px;
  padding: 0.25rem;
  display: flex;
}
.header .toggle__box:hover {
  opacity: 0.5;
}
.header .toggle__knob {
  height: 100%;
  aspect-ratio: 1;
  background-color: white;
  border-radius: 50%;
  transition: all 0.25s;
}
.header .toggle__knob--right {
  margin-left: calc(100% - 1.5rem);
}
.header .toggle__knob--left {
  margin-left: 0;
}

.card-container {
  margin: 0 1.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.8rem;
}
@media screen and (min-width: 720px) {
  .card-container {
    flex-direction: row;
    gap: 0;
    max-width: 70rem;
    margin: 0 auto;
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1.8rem;
  border-radius: 10px;
  width: 100%;
  box-shadow: 0 1rem 2rem 0 rgba(105, 111, 221, 0.15);
}
.card--light {
  background-color: white;
}
.card--dark {
  background-image: linear-gradient(to bottom right, hsl(236deg, 72%, 79%), hsl(237deg, 63%, 64%));
}
.card__plan {
  font-size: 1.2rem;
}
.card__plan--light {
  color: hsl(233deg, 13%, 49%);
}
.card__plan--dark {
  color: hsl(240deg, 78%, 98%);
}
.card__price {
  font-size: 4.5rem;
  letter-spacing: min(-1ch + 15vw, 0ch);
  display: flex;
  align-items: center;
  gap: 0.1ch;
}
@media screen and (min-width: 720px) {
  .card__price {
    letter-spacing: min(-1ch + 5vw, 0ch);
  }
}
.card__price--light {
  color: hsl(232deg, 13%, 33%);
}
.card__price--dark {
  color: hsl(240deg, 78%, 98%);
}
.card__price::before {
  content: "$";
  font-size: 0.5em;
}
.card__divider {
  border: none;
  width: 100%;
  border-top: 1px solid hsl(234deg, 14%, 74%);
}
.card__feature {
  font-size: 0.9rem;
}
.card__feature--light {
  color: hsl(233deg, 13%, 49%);
}
.card__feature--dark {
  color: hsl(240deg, 78%, 98%);
}
.card__button {
  border: none;
  border-radius: 0.5rem;
  width: 100%;
  height: 5ch;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 0.25ch;
  margin-top: 1rem;
  cursor: pointer;
}
.card__button--light {
  color: hsl(240deg, 78%, 98%);
  background-image: linear-gradient(to right, hsl(236deg, 72%, 79%), hsl(237deg, 63%, 64%));
}
.card__button--light:hover {
  color: hsl(237deg, 63%, 64%);
  outline: 1px solid currentColor;
  background-image: none;
  background-color: transparent;
}
.card__button--dark {
  color: hsl(237deg, 63%, 64%);
  background-color: hsl(240deg, 78%, 98%);
}
.card__button--dark:hover {
  color: hsl(240deg, 78%, 98%);
  outline: 1px solid currentColor;
  background-color: transparent;
}

.footer {
  font-size: 0.5rem;
  margin-top: 1.8rem;
  text-align: center;
}/*# sourceMappingURL=style.css.map */